<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>O mnie</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Ukończyłem studia informatyczne ze specjalnością
          grafika komputerowa i projektowanie gier na Uniwersytecie
          Łódzkim (tytuł licencjata). Na swoim koncie
          posiadam projekt gry VR stworzonej w Unity w ramach
          pracy dyplomowej. Pozostałe obszary moich dzialań to
          grafika 3D (Blender) oraz 2D (Illustrator, Photoshop).</p>
      </div>
      <div class="col-lg-4">
        <p>Do moich głównych zainteresowań należą gry
          na różne platformy (głównie PC) oraz grafika
          komputerowa. Obecnie dopiero zaczynam swoją
          ścieżkę zawodową poszukując pierwszej pracy
          w branży gamdev.
        </p>
      </div>
    </div>
  </div>
</section>
