<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>O mnie</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          Wykształcenie:<br>
          - Informatyka ze specjalnością grafika komputerowa i projektowanie gier (Uniwersytet Łódzki, Licencjat, 2022)<br>
          Doświadczenie:<br>
          - 1 rok (11/2022 - 11/2023) na stanowisku grafik komputerowy w firmie Vasco - branża beauty<br>
        </p>
      </div>
      <div class="col-lg-4">
        <p>Zainteresowania:<br>
          - Technologie komputerowe, grafika, VR, gry, konsole, gamedev<br>
          - Zadowolenie i uśmiech osoby, dla której wykonałem projekt graficzny<br>
        </p>
      </div>
    </div>
  </div>
</section>
